.convention-card-wrapper{
    
    min-width: 360px;

    @media(min-width: 1024px){
        min-width: 400px;
    }
    
    background-color: var(--light-blue-color);
    border-radius: .75rem;
    
    padding: 1.375rem;
    
    .convention-card-top-info{
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 1rem;
    }

    h2{
        margin: 0 !important;
    }
    
    h4{
        font-weight: 300;
        margin-bottom: 1rem;
    }
}