.convention-card-wrapper{
    width: 100%;

    
    background-color: var(--light-blue-color);
    border-radius: .75rem;
    
    padding: 1.375rem;
    
    .convention-card-top-info{
        display: flex;
        justify-content: space-between;
        
        margin-bottom: 1rem;
        
        img{
            width: 40px;
            height: 40px;
            aspect-ratio: 1 / 1;
        }
    }
    
    h4{
        font-weight: 300;
        margin-bottom: 1rem;
    }

    /* @media(min-width: 1024px){
        min-width: 30rem;
    } */

}