.convention-card-wrapper{
    min-width: 55dvw;

    background-color: var(--light-blue-color);
    border-radius: .75rem;

    padding: 1.375rem;

    .convention-card-top-info{
        display: flex;
        justify-content: space-between;

        margin-bottom: 1rem;

        img{
            width: 40px;
            height: 40px;
            aspect-ratio: 1 / 1;
        }
    }

    h4{
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .view-button{
        border: none;
        outline: none;
        background-color: var(--background-color);
        
        width: 100%;
        
        color: var(--font-color);
        font-family: var(--font-family);
        font-size: 1rem;
        font-weight: 300;
        height: 2.5rem;
        
        border-radius: .45rem;
    }


}