.convention-info-wrapper{

    position: relative;
    width: 100%;

    .convention-right-corner-container{
        width: 100%;
        background-color: var(--accent-color);

        .convention-right-corner{
            background-color: var(--background-color);
            height: var(--base-padding);

            margin-right: 3dvw;
            border-top-right-radius: 2.5rem;
        }
    }

    .convention-markdown-wrapper{
        padding: 0 7.5dvw;

        font-family: var(--base-font);


        .interaction-section{
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            padding-top: 2rem;

            .error-pop-up-wrapper{
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .error-pop-up-content{
                    padding: .65rem 1rem;
                    background-color: var(--accent-color);
                    color: var(--font-color);
                    border-radius: 2px;
                }

                .error-pop-up-triangle{
                    margin-right: .5rem;

                    height: 0px;
                    width: 0px;

                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 15px solid var(--accent-color);
                }
            }
            .like-wrapper{
                display: flex;
                align-items: flex-end;

                h3{
                    color: var(--accent-color);
                    margin-bottom: 0;

                    @media(min-width: 1024px){
                        font-size: 1.5rem;
                    }
                }

                .like-button{
                    color: var(--font-color);
                    font-size: 1.25rem;
                    font-weight: 900;
                    cursor: pointer;
                    background-color: transparent;

                    margin-bottom: 4px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;

                    .like-triangle-top{
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 12.5px solid var(--font-color);
                    }
                    .like-rectangle{
                        width: 5px;
                        height: 15px;
                        background-color: var(--font-color);
                    }
                    .like-triangle-top.liked{
                        border-bottom-color: var(--accent-color);
                    }
                    .like-rectangle.liked{
                        background-color: var(--accent-color);
                    }
                }
                .like-button.liked{
                    color: var(--accent-color);
                }
            }
            .like-wrapper:hover{
                .like-triangle-top{
                    border-bottom-color: var(--accent-color);
                }
                .like-rectangle{
                    background-color: var(--accent-color);
                }
            }

            .created-by{
                margin: 0;
            }
            .created-by.author{
                color: var(--accent-color);
                font-weight: 800;
            }
        }
    }

    ::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3dvw;

        height: 100%;
        background: var(--accent-color);
    }
}