.kpi-wrapper{
    width: 100%;

    display: flex;
    /* justify-content: space-between; */
    gap: 2rem;
    align-items: start;

    margin: 3rem 0;

    .kpi-image-wrapper{
        width: 65px;;
        aspect-ratio: 1 / 1;
        object-fit: contain;

        background-color: var(--accent-color);
        border-radius: 50rem;

    }

    .kpi-info-wrapper{
        width: 60%;
        h2{
            margin-bottom: 1rem;
            max-width: 175px;
        }
    }
}