.loading-screen-wrapper {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    h2{
        margin-top: -20dvh;
        color: var(--accent-color);
        font-size: 2.5rem;
        font-weight: 900;
    }
}