.button{
    border: none;
    background-color: transparent;

    font-family: var(--font-family);
    font-size: .875rem;
    font-weight: 500;
    text-align: center;

    width: 10rem;
    height: 3rem;
    border-radius: .5rem;
}

.button.primary{
    background-color: var(--accent-color);
    color: var(--background-color);
}
.button.secondary{
    background-color: var(--background-color);
    color: var(--font-color);
}