/* HEADER */
.header-wrapper {
    position: relative;
    width: 100%;

    background: var(--accent-color);

    .header-inner-wrapper {
        width: 100dvw;
        padding: 92px 0 0;
        background: var(--background-color);

        display: flex;
        flex-direction: column;
        align-items: center;

        .header-lower-title{
            text-align: center;
            width: 80%;
        }
    }

    .header-radius{
        margin-right: 3dvw;
        height: 92px;
        border-bottom-right-radius: 2.5rem;
        background-color: var(--background-color);
    }

    ::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3dvw;

        height: 100%;
        background: var(--accent-color);
    }
}

/* HERO */
.hero-section{
    position: relative;
    height: 65dvh;

    margin-left: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;


    ::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3dvw;

        height: 100%;
        background: var(--accent-color);
        z-index: -999;
    }

    .explore-section-wrapper{

        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   

        img{
            width: 80%;
            height: 75%;
        }

    }
    .contribute-section-wrapper{

        width: 50%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: var(--accent-color);
        border-bottom-left-radius: 2.5rem;
        border-top-left-radius: 2.5rem;

        img{
            width: 80%;
            height: 75%;
        }

    }
}

/* KPI */
.kpi-section{
    position: relative;
    width: 100%;
    /* padding: var(--base-padding) 0; */

    background-color: var(--accent-color);

    .kpi-corner-upper{
        background-color: var(--background-color);
        border-top-right-radius: 2.5rem;

        margin-right: 3dvw;
        padding-top: var(--base-padding);
    }

    .kpi-inner-wrapper{
        background-color: var(--background-color);

        .kpi-container{
            margin-left: 7.5dvw;
            
            width: 85dvw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    

    ::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3dvw;

        height: 100%;
        background: var(--accent-color);
    }
}

/* POPULAR CONVENTIONS */
.popular-conventions-section{
    position: relative;
    width: 100%;
    padding: var(--base-padding) 0 0;

    .popular-conventions-inner-wrapper{
        

        h3{
            margin-bottom: 2rem;
            margin-left: 7.5dvw;
        }

        .popular-conventions-container{
            /* background-color: red; */
            width: 100%;

            display: flex;
            flex-wrap: nowrap;
            gap: 1rem;

            overflow: scroll;
        }
        .convention-card-wrapper:nth-child(1){
            margin-left: 7.5dvw;
        }
        .convention-card-wrapper:nth-last-child(1){
            margin-right: 7.5dvw;
        }
        .popular-conventions-container::-webkit-scrollbar {
            display: none;
        }
    }

    .popular-convention-button-wrapper{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
    }

    .lower-corner-bg{
        width: 100%;
        background-color: var(--accent-color);
        height: 6rem;

        .lower-corner-normal{
            background-color: var(--background-color);
            height: 100%;

            border-bottom-right-radius: 2.5rem;
            margin-right: 3dvw;
        }
    }

    ::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3dvw;
        height: 100%;
        background: var(--accent-color);
    }
}

/* CONTRIBUTE */
.contribute-section{
    position: relative;
    width: 100%;

    background-color: var(--background-color-color);

    .contribute-inner-wrapper{
        background-color: var(--accent-color);
        border-top-left-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;

        width: 100dvw;

        padding-top: var(--base-padding);
        display: flex;
        justify-content: center;

        .contribute-container{
            width: 85dvw;

            h3{
                color: var(--background-color);
            }
            
            .standards-wrapper{
                margin-top: .75rem;
            }

            .standards-button-wrapper{
                display: flex;
                justify-content: center;
                padding-bottom: var(--base-padding);
            }
        }
    }


}

/* SLOGAN */
.slogan-section{
    height: 300px;

    position: relative;
    width: 100%;
    background-color: var(--accent-color);
    
    display: flex;

    .left-wrapper{
        width: 50%;
        background-color: var(--background-color);

        .left-container{
            width: 100%;
            height: 100%;
            background-color: var(--accent-color);
            border-bottom-right-radius: 2.5rem;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            text-align: end;

            h2{
                margin-right: 1rem;
                color: var(--background-color);
                font-weight: 900;
                font-size: 1.5rem;
            }
        }
    }

    .right-wrapper{
        width: 50%;
        background-color: var(--background-color);
        border-top-left-radius: 2.5rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h2{
            margin-left: 1rem;
            color: var(--accent-color);
            font-weight: 900;
            font-size: 1.5rem;
        }
    }

    ::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3dvw;
        height: 100%;
        background: var(--accent-color);
    }
}

/* Desktop */
@media(min-width: 1024px){
    /* KPI */
    .kpi-section{

        .kpi-inner-wrapper{
            background-color: var(--background-color);

            .kpi-container{
                margin-left: 7.5dvw;
                
                width: 85dvw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
    }

    /* CONTRIBUTE */
    .contribute-section{
        .contribute-inner-wrapper{
            .contribute-container{
                .standards-wrapper{
                    margin-top: .75rem;
                    
                    & > :nth-child(2) { 
                        margin-left: 50%;
                    }
                }

            }
        }


    }

    /* SLOGAN */
    .slogan-section{
        height: 300px;

        .left-wrapper{
            .left-container{
                h2{
                    margin-right: 1rem;
                    font-size: 4rem;
                }
            }
        }

        .right-wrapper{
            h2{
                margin-left: 1rem;
                font-size: 4rem;
            }
        }

    }
}