.header-component-wrapper{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    
    margin-bottom: 10dvh;
    
    
    background-color: var(--background-color);
    
    .header-component-inner-wrapper{
        width: 100dvw;
        background-color: var(--accent-color);
        border-bottom-left-radius: 2.5rem;
        padding: 4rem 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h2{
            font-weight: 900;
            text-align: center;
            color: var(--background-color);
        }

        button{
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1.25rem;
            cursor: pointer;
        }
    }

    ::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3dvw;

        height: 100%;
        background: var(--accent-color);
    }
}