.header-component-wrapper{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    
    
    background-color: var(--background-color);
    
    .header-component-inner-wrapper{
        width: 100dvw;
        background-color: var(--accent-color);
        border-bottom-left-radius: 2.5rem;
        padding: 4rem 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .header-component-back{
            width: 100%;
            margin-left: 7.5dvw;
            
            a{
                color: var(--background-color);
                font-size: .825rem;
                font-weight: 600;
            }
            a:hover{
                border-bottom: 2pt solid var(--background-color);
            }

        }

        h2{
            font-weight: 900;
            text-align: center;
            color: var(--background-color);
        }

        button.filter-drop-down{
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1.25rem;
            cursor: pointer;
        }
    }
}