.pre-footer-section{
    width: 100%;
    position: relative;

    background-color: var(--accent-color);

    .pre-footer-upper-corner{
        background-color: var(--background-color);
        height: var(--base-padding);

        border-bottom-right-radius: 2.5rem;
        margin-right: 3dvw;

        ::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 3dvw;
    
            height: 100%;
            background: var(--accent-color);
        }
    }

    .pre-footer-wrapper{
        background-color: var(--background-color);

        .pre-footer-container{
            padding: 3.375rem 3.375rem;
            display: flex;
            justify-content: center;

            @media(min-width: 1024px){
                padding: 7rem 20rem;
            }
            @media(min-width: 1500px){
                padding: 7rem 35rem;
            }
            
            border-top-left-radius: 2.5rem;
            border-bottom-right-radius: 2.25rem;
    
            background-color: var(--accent-color);            
            
            h2{
                font-size: 3.5rem;
                color: var(--background-color);
                font-weight: 900;

                margin-bottom: 2rem;
            }

            @media(min-width: 1024px){
                .pre-footer-inner-wrapper{
                    width: 80dvw;
                }
            }
            @media(min-width: 1500px){
                .pre-footer-inner-wrapper{
                    width: 30dvw;
                }
            }
            @media(min-width: 2000px){
                .pre-footer-inner-wrapper{
                    width: 20dvw;
                }
            }


        }
    }


}