.contribute-corner-top-right-container{
    width: 100%;
    background-color: var(--accent-color);

    .contribute-corner-top-right{
        background-color: var(--background-color);
        height: var(--base-padding);
        border-top-right-radius: 2.5rem;
        margin-right: 3dvw;
    }
}
.form-wrapper{
    
    .form-inner-wrapper{
        margin: 0 7.5dvw;
        min-height: 50dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .navigation-button-wrapper{
            display: flex;
            justify-content: space-between;
            margin: 3rem 0;
        }

        .form-input-wrapper{
            display: flex;
            flex-direction: column;
            
            h2{
                text-align: center;
                font-weight: 900;
                font-size: 2.25rem;
                margin-bottom: 1rem;
            }

            p.lower-text{
                text-align: center;
                margin-top: 1rem;
                font-size: .75rem;
                font-style: italic;
                opacity: .5;
            }

            .category-wrapper{
                display: flex;
                flex-direction: column;
                margin: 0 auto;

                @media(min-width: 1024px){
                    flex-direction: row;
                }

                .category-radio-wrapper{

                    display: flex;
                    align-items: center;
                    gap: 1rem;


                    label{
                        color: var(--font-color);
                        margin-top: .4rem;
                    }
                }
            }

            .md-container{
                display: flex;
                flex-direction: column;

                margin-bottom: 3rem;

                label{
                    margin-bottom: 1rem;
                }
            }
        }

    }

    ::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3dvw;

        height: 100%;
        background: var(--accent-color);
    }

}

.button{
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--base-font);
    font-size: .875rem;
    font-weight: 500;
    text-align: center;

    width: 10rem;
    height: 3rem;
    border-radius: .5rem;
    
    cursor: pointer;
    
    background-color: var(--accent-color);
    color: var(--background-color);
}

@media(min-width: 1024px){
    input[type="text"].contribute-text-field{
        width: 50%;
        margin: 0 auto;
    }

    .convention-editor-wrapper{
        display: flex;
        justify-content: space-between;

        .md-editor{
            width: 48%;
        }
        .md-preview{
            width: 48%;
        }

        textarea{
            height: 100%;
        }
    }
}