.searchbar-wrapper{
   
    display: flex;
    justify-content: center;

    margin: 0 7.5dvw;


    .searchbar-inner-wrapper{
        width: 100%;
        height: 2rem;

        padding: 0 .75rem ;

        border-radius: .75rem;
        border: 2pt solid var(--background-color);
        
        display: flex;
        gap: 1rem;
        
        input{     
            height: 2rem;   
            width: 90%;
            @media(min-width:1024px){
                width: 98%;
            }
            background-color: var(--accent-color);
    
            outline: none;
            border: none;
    
            color: var(--background-color);

        }

        button{
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 1rem;
            cursor: pointer;
        }
    }
}