.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    backdrop-filter: blur(5px); 
}

.modal-content {
    background-color: var(--background-color);
    padding: 2.5rem;
    border-radius: 1.5rem;
    width: 85%;
    max-width: 450px;
    
    border: 2pt solid var(--accent-color); 
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.modal-content h3 {
    text-align: center;
    color: var(--accent-color);
    font-size: 1.75rem;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}

.modal-content p {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
    color: var(--font-color);
    margin: 0;
}

.modal-input {
    width: 100%;
    box-sizing: border-box;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;

}

button{
    height: 3rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: var(--base-font);
    transition: all 0.2s ease;
    text-transform: uppercase;
}

button.modal-button{
    background-color: var(--accent-color);
}
button.modal-button:hover{
    background-color: #1d9e95;
}
button.danger-button{
    background-color: #f61d1d;
    color: var(--font-color);
}
button.danger-button:hover{
    background-color: #a81414;
}