body, html{
    /* BASE */
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    
    /* FONTS */
    font-family: var(--base-font);
    font-weight: 400;
    color: var(--font-color);
}

h1 {
    font-weight: 900; 
    font-size: var(--h1-font-size);
    text-align: center;
    margin: 0;
}

h2 {
    font-weight: 600;
    font-size: var(--h2-font-size);
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: var(--h3-font-size);
    margin: 0;
}

h4 {
    font-weight: 600;
    font-size: var(--h4-font-size);
    margin: 0;
}

p {
    font-weight: 400;
    font-size: var(--p-font-size);
    margin: 0;
}