body, html{
    /* BASE */
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    
    /* FONTS */
    font-family: var(--base-font);
    font-weight: 400;
    color: var(--font-color);

    overflow-x: hidden;
}

a{
    color: var(--font-color);
    text-decoration: none;
}

h1 {
    font-weight: 900; 
    font-size: var(--h1-font-size);
    text-align: center;
    margin: 0;
}

h2 {
    font-weight: 600;
    font-size: var(--h2-font-size);
    margin: 0;
}

h3 {
    font-weight: 700;
    font-size: var(--h3-font-size);
    margin: 0;
}

h4 {
    font-weight: 600;
    font-size: var(--h4-font-size);
    margin: 0;
}

p {
    font-weight: 400;
    font-size: var(--p-font-size);
    margin: 0;
}

button{
    border: none;
    outline: none;
    background-color: transparent;

    font-family: var(--base-font);
}


.large-button{
    background-color: var(--background-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--font-color);
    font-family: var(--base-font);
    font-size: 1rem;
    font-weight: 300;
    height: 2.5rem;
    
    border-radius: .45rem;

    cursor: pointer;
}