:root{

    /* COLORS */
    --background-color: #070B0F;
    --accent-color: #24BFB5;
    --light-blue-color: #2A4159;
    --font-color: #FFFFFF;

    /* MARGINS & PADDING */
    --base-margin: 6rem;
    --base-padding: 6rem;

    /* FONTS */
    --base-font: "Goga Test";

    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --p-font-size: 0.875rem;


    /* @media(min-width: 1024px){
        --h1-font-size: 4rem;
    } */
}

/* GOGA TEST FONT FAMILY DEFINITIONS*/
/* THIN */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Thin-BF6646d5d8040a9.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* EXTRA LIGHT */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Extralight-BF6646d5d82fb83.otf") format("opentype"); 
  font-style: normal;
  font-display: swap;
}

/* LIGHT */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Light-BF6646d5d84c8a2.otf") format("opentype"); 
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* REGULAR */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Regular-BF6646d5d84f69b.otf") format("opentype"); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* MEDIUM */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Medium-BF6646d5d84754e.otf") format("opentype"); 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SEMIBOLD */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Semibold-BF6646d5d8544cf.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* BOLD */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Bold-BF6646d5d83c978.otf") format("opentype"); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* EXTRA BOLD */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Extrabold-BF6646d5d7d0a2b.otf") format("opentype"); 
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* BLACK */
@font-face {
  font-family: "Goga Test";
  src: url("./fonts/GogaTest-Black-BF6646d5d78e551.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}