.explore-section{
    position: relative;
    width: 100%;

    background-color: var(--accent-color);
    
    .explore-corner-upper{
        margin-right: 3dvw;
        border-top-right-radius: 2.5rem;
        background-color: var(--background-color);
        padding-top: var(--base-padding);
    }

    .explore-convention-wrapper{
        background-color: var(--background-color);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem 1rem;
        padding: 0 7.5dvw;

        .convention-card-wrapper{
            width: 85%;
        }

        @media(min-width: 1024px){
            flex-direction: row;
            flex-wrap: wrap;
            align-items: top;
            justify-content: flex-start;

            .convention-card-wrapper{
                width: calc((88% - 1rem) / 2);
            }
        }

        @media(min-width: 1800px){
        
            padding: 0 10dvw;

            .convention-card-wrapper{
                width: calc((88% - 2rem) / 3);
            }
        }

        @media(min-width: 2000px){
        
            .convention-card-wrapper{
                width: calc((88% - 2rem) / 4);
            }
        }
    }



    ::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3dvw;

        height: 100%;
        background: var(--accent-color);
    }
}